html {
  font-family: Arial, Helvetica, sans-serif;
  background: #55423d;
  padding: 1rem;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  background: #55423d;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffffe;
  margin: 1rem 0;
}
a {
  color: #271c19;
}
hr {
  border: none;
  border-top: 1px solid #55423d;
}
nav {
  background: #55423d;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
nav h1 {
  flex: auto;
  margin: 0;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  color: #fff3ec;
}
nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}
.content {
  padding: 0 1rem 1rem;
}
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #55423d;
  border: 2px solid #140d0b;
  color: #fff3ec;
}
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.post .about {
  color: #fff3ec;
  font-style: italic;
}
.post .body {
  white-space: pre-line;
  color: #fff3ec;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.content input,
.content textarea {
  margin-bottom: 1em;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
input.danger {
  color: #cc2f2e;
}
input[type="submit"] {
  align-self: start;
  min-width: 10em;
}

.btn-sumbit {
  background-color: #ffc0ad;
  border-color: #ffc0ad;
  color: #271c19;
}

.link {
  text-decoration: none;
  background-color: #ffc0ad;
  border-color: #ffc0ad;
  color: #271c19;
  margin-right: 10px;
  border-radius: 10%;
}
.link:hover {
  color: #e78fb3;
}

.username {
  border-right: 30px;
  color: #fffffe;
  font-size: large;
  text-transform: capitalize;
}

.heading {
  color: #9656a1;
}
