{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="firstname">Firstname</label>
  <input class="form-control" name="firstname" id="firstname" required />
  <label for="lastname">Lastname</label>
  <input class="form-control" name="lastname" id="lastname" required />
  <label for="email">Email</label>
  <input class="form-control" name="email" id="email" required />
  <label for="username">Username</label>
  <input class="form-control" name="username" id="username" required />
  <label for="password">Password</label>
  <input
    class="form-control"
    type="password"
    name="password"
    id="password"
    required
  />
  <input class="btn btn-sumbit" type="submit" value="Register" />
</form>
{% endblock %}
